*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  body{
    width: 100%;
  }
  #navbarNav{
  
  }
.carousel-inner .carousel-item img{
  width: 100%;
  height:95dvh;

  background-size: cover;
  filter: brightness(0.6);
}
.carousel-caption{
  width: 200px;
  height: fit-content;
  color: white;
  background-color: orangered;
  border-radius: 7px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;

}
nav{
  background-color: transparent;
  color: black;
 
}
.navbar-brand{
  color: black;
  text-transform: uppercase;

}
.services{
  margin: 20px;
}
.picture img{
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}
.text h6{
   font-weight: bold;
  color: green;
}
.text ul li{
  list-style-type: none;
}
.services h4{
  text-align: center;
  color: orange;
  font-weight: bold;
  position: relative;
}
 h4::after{
  content:"";
  display: block;
  height: 4px;
  color: black;
  width: 100%;
  position: absolute;
}
.about-us{
  margin: 20px;
}
.about-us h4{
  text-align: center;
  color: orange;
  font-weight: bold;
  position: relative;
}
.text i{
  padding:5px;
}
.about-card{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}
.about-card .card{
  flex: 1;

  min-width: 250px;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}
.card h5{
  text-align: center;
}
.card:hover{
  transform:rotateY('90');
  color: #2b1e1a;
}
.card:nth-child(even){
  background-color: blue;
  color: white;
  filter: brightness(0.9);
}
.card:nth-child(odd){
  background-color:green;
  color: white;
  filter: brightness(0.9);
}
.gallery-row{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery img{
  flex: 1;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.gallery h4{
  text-align: center;
  color: orange;
  font-weight: bold;
  position: relative;
}
.gallery p{
  text-align: center;
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
  background-color: #2b1e1a;
  color: white;
  margin-top: 20px;
}
.sub{
  flex: 1;
  padding: 10pxs;
}.footer-content ul li{
  list-style-type: none;
}
.footer-content ul li a{
  text-decoration: none;
}

.social{
  display: inline-block;
 
}
.sub i{
  font-size: 28px;
  
  color: blue;
border-radius:50%;
}
.sub i:hover{
  color: orange;
  padding: 5px;
  filter: contrast(0.7);
}
.footer-content ul li a:hover{
  color: orange;
  padding: 10px;
  filter: contrast(0.7);
}
.sub h6{
  color: orange;
  font-weight: bolds;
}
footer .designer{
  text-align: center;
  background-color: grey;
  color: white;
  width: 100%;
    bottom:0;
}
.contact{
  padding: 20px;
}
.form-control{
  width: 90%;
}
button{
 
  align-items: center;
}
.btn-primary{
  justify-content: center;
  align-items: center;
}
.contact-form{


    background: linear-gradient(to right, #159957, #155799);

  border-radius: 10px;
  border: none;
  outline: none;
  height: auto;
  align-items: center;
  padding:10px 30px;
  
}
iframe{
  width: 100%;
  height: 600px;
}
.contact-form H6{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* slightly smaller font for small screens */
      width:100%;
  }

  h4 {
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }

  h6{
    font-size: 13px;
  }

  p {
    font-size: 14px;
  }

  /* You can also add other responsive tweaks here */

   
  
}


